{% extends "zerver/portico.html" %}

{% block customhead %}
{{ super() }}
<meta http-equiv="refresh" content="60;URL='/'">
{% endblock %}

{% block portico_class_name %}error{% endblock %}

{% block portico_content %}
<div class="error_page">
    <div class="container">
        <div class="row-fluid">
            <img src="/static/images/500art.svg" alt=""/>
            <div class="errorbox">
                <div class="errorcontent">
                    <h1 class="lead">Internal server error</h1>
                    <p>This Axxess server is currently experiencing some technical difficulties. Sorry about that!</p>
                    <p>The page will reload automatically soon after service is restored.</p>
				</div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
